<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.ai.mapper.AiApiKeyMapper">

    <resultMap type="AiApiKey" id="AiApiKeyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="apiKey"    column="api_key"    />
        <result property="platform"    column="platform"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAiApiKeyVo">
        select id, name, api_key, platform, url, status, del_flag, create_by, create_time, update_by, update_time from ai_api_key
    </sql>

    <select id="selectAiApiKeyList" parameterType="com.lucky.ai.controller.model.vo.apikey.AiApiKeyPageReqVO" resultMap="AiApiKeyResult">
        <include refid="selectAiApiKeyVo"/>
        <where>  
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="platform != null and platform != ''"> and platform = #{platform}</if>
            <if test="status != null "> and status = #{status}</if>
            and del_flag = 0
            order by id desc
        </where>
    </select>

    <select id="selectAiApiKeyById" parameterType="Long" resultMap="AiApiKeyResult">
        <include refid="selectAiApiKeyVo"/>
        where id = #{id}
        and del_flag = 0
    </select>

    <select id="selectList" resultMap="AiApiKeyResult">
        <include refid="selectAiApiKeyVo"/>
        where del_flag = 0
    </select>

    <select id="selectFirstByPlatformAndStatus" resultMap="AiApiKeyResult">
        <include refid="selectAiApiKeyVo"/>
        <where>
            <if test="platform != null and platform != ''"> and platform = #{platform}</if>
            <if test="status != null "> and status = #{status}</if>
            and del_flag = 0
            order by id asc
            limit 1
        </where>
    </select>

    <insert id="insertAiApiKey" parameterType="AiApiKey" useGeneratedKeys="true" keyProperty="id">
        insert into ai_api_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="apiKey != null and apiKey != ''">api_key,</if>
            <if test="platform != null and platform != ''">platform,</if>
            <if test="url != null">url,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="apiKey != null and apiKey != ''">#{apiKey},</if>
            <if test="platform != null and platform != ''">#{platform},</if>
            <if test="url != null">#{url},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAiApiKey" parameterType="AiApiKey">
        update ai_api_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="apiKey != null and apiKey != ''">api_key = #{apiKey},</if>
            <if test="platform != null and platform != ''">platform = #{platform},</if>
            <if test="url != null">url = #{url},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
        and del_flag = 0
    </update>

</mapper>