<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.ai.mapper.AiChatMessageMapper">

    <resultMap type="AiChatMessage" id="AiChatMessageResult">
        <result property="id"    column="id"    />
        <result property="conversationId"    column="conversation_id"    />
        <result property="replyId"    column="reply_id"    />
        <result property="type"    column="type"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="model"    column="model"    />
        <result property="modelId"    column="model_id"    />
        <result property="content"    column="content"    />
        <result property="reasoningContent"    column="reasoning_content"    />
        <result property="useContext"    column="use_context"    />
        <result property="segmentIds"    column="segment_ids"    />
        <result property="webSearchPages"    column="web_search_pages"    />
        <result property="attachmentUrls"    column="attachment_urls"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAiChatMessageVo">
        select id, conversation_id, reply_id, type, user_id, role_id, model, model_id, content, reasoning_content, use_context, segment_ids, web_search_pages, attachment_urls, del_flag, create_by, create_time, update_by, update_time from ai_chat_message
    </sql>

    <select id="selectAiChatMessageById" parameterType="Long" resultMap="AiChatMessageResult">
        <include refid="selectAiChatMessageVo"/>
        where id = #{id}
        and del_flag = 0
    </select>

    <select id="selectListByConversationId" parameterType="Long" resultMap="AiChatMessageResult">
        <include refid="selectAiChatMessageVo"/>
        where conversation_id = #{id}
        and del_flag = 0
        order by id asc
    </select>

    <select id="selectChatMessagePage" parameterType="com.lucky.ai.controller.chat.vo.message.AiChatMessagePageReqVO" resultMap="AiChatMessageResult">
        <include refid="selectAiChatMessageVo"/>
        <where>
            <if test="conversationId != null"> and conversation_id = #{conversationId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="content != null and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            and del_flag = 0
        </where>
        order by id desc
    </select>

    <insert id="insertAiChatMessage" parameterType="AiChatMessage" useGeneratedKeys="true" keyProperty="id">
        insert into ai_chat_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="conversationId != null">conversation_id,</if>
            <if test="replyId != null">reply_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="modelId != null">model_id,</if>
            <if test="content != null">content,</if>
            <if test="reasoningContent != null">reasoning_content,</if>
            <if test="useContext != null">use_context,</if>
            <if test="segmentIds != null">segment_ids,</if>
            <if test="webSearchPages != null">web_search_pages,</if>
            <if test="attachmentUrls != null">attachment_urls,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="conversationId != null">#{conversationId},</if>
            <if test="replyId != null">#{replyId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="content != null">#{content},</if>
            <if test="reasoningContent != null">#{reasoningContent},</if>
            <if test="useContext != null">#{useContext},</if>
            <if test="segmentIds != null">#{segmentIds},</if>
            <if test="webSearchPages != null">#{webSearchPages},</if>
            <if test="attachmentUrls != null">#{attachmentUrls},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAiChatMessage" parameterType="AiChatMessage">
        update ai_chat_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="conversationId != null">conversation_id = #{conversationId},</if>
            <if test="replyId != null">reply_id = #{replyId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="reasoningContent != null">reasoning_content = #{reasoningContent},</if>
            <if test="useContext != null">use_context = #{useContext},</if>
            <if test="segmentIds != null">segment_ids = #{segmentIds},</if>
            <if test="webSearchPages != null">web_search_pages = #{webSearchPages},</if>
            <if test="attachmentUrls != null">attachment_urls = #{attachmentUrls},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
        and del_flag = 0
    </update>

    <update id="deleteAiChatMessageById" parameterType="Long">
        update ai_chat_message set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteAiChatMessageByIds" parameterType="List">
        update ai_chat_message set del_flag = 1 where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>