<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.ai.mapper.AiChatMessageMapper">

    <select id="selectCountMapByConversationIds" parameterType="Collection" resultType="com.lucky.ai.controller.chat.vo.message.AiChatMessageCountRespVO">
        SELECT conversation_id AS conversationId, COUNT(id) AS count
        FROM ai_chat_message
        where conversation_id IN
        <foreach item="conversationId" collection="conversationIds" open="(" separator="," close=")">
            #{conversationId}
        </foreach>
        and del_flag = 0
        GROUP BY conversation_id
    </select>

</mapper>