<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.system.mapper.SysMenuMapper">

	<sql id="selectSysMenu">
		select distinct
			m.menu_id as menuId,
			m.parent_id as parentId,
			m.menu_name as menuName,
			m.path,
			m.component,
			m.`query`,
			m.route_name as routeName,
			m.visible,
			m.status,
			ifnull(m.perms,'') as perms,
			m.is_frame as isFrame,
			m.is_cache as isCache,
			m.menu_type as menuType,
			m.icon,
			m.order_num as orderNum,
			m.create_time as createTime
		from sys_menu m
	</sql>

	<select id="selectMenuListByUserId" resultType="SysMenu">
		<include refid="selectSysMenu" />
			left join sys_role_menu rm on m.menu_id = rm.menu_id
			left join sys_user_role ur on rm.role_id = ur.role_id
		where ur.user_id = #{userId}
		<if test="query.menuName != null and query.menuName != ''">
            AND m.menu_name like concat('%', #{query.menuName}, '%')
		</if>
		<if test="query.visible != null and query.visible != ''">
            AND m.visible = #{query.visible}
		</if>
		<if test="query.status != null and query.status != ''">
            AND m.status = #{query.status}
		</if>
		order by m.parent_id, m.order_num
	</select>

    <select id="selectMenuTreeByUserId" parameterType="Long" resultType="SysMenu">
		<include refid="selectSysMenu" />
			 left join sys_role_menu rm on m.menu_id = rm.menu_id
			 left join sys_user_role ur on rm.role_id = ur.role_id
			 left join sys_role ro on ur.role_id = ro.role_id
			 left join sys_user u on ur.user_id = u.user_id
		where u.user_id = #{userId} and m.menu_type in ('M', 'C') and m.status = 0  AND ro.status = 0
		order by m.parent_id, m.order_num
	</select>

	<select id="selectMenuListByRoleId" resultType="Long">
		select
		    m.menu_id
		from sys_menu m
            left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
            <if test="menuCheckStrictly">
              and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id = rm.menu_id and rm.role_id = #{roleId})
            </if>
		order by m.parent_id, m.order_num
	</select>

	<select id="selectMenuPermsByUserId" parameterType="Long" resultType="String">
		select distinct
		    m.perms
		from sys_menu m
			 left join sys_role_menu rm on m.menu_id = rm.menu_id
			 left join sys_user_role ur on rm.role_id = ur.role_id
			 left join sys_role r on r.role_id = ur.role_id
		where m.status = '0' and r.status = '0' and ur.user_id = #{userId}
	</select>

	<select id="selectMenuPermsByRoleId" parameterType="Long" resultType="String">
		select distinct
		    m.perms
		from sys_menu m
			 left join sys_role_menu rm on m.menu_id = rm.menu_id
		where m.status = '0' and rm.role_id = #{roleId}
	</select>

</mapper>