package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.conditions.Wrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.lucky.common.core.utils.StringUtils;
import com.lucky.common.mybatis.core.mapper.BaseMapperX;
import java.util.List;
import ${packageName}.domain.${ClassName};
import ${packageName}.domain.query.${businessName}.${ClassName}Query;
import ${packageName}.domain.vo.${businessName}.${ClassName}VO;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 */
public interface ${ClassName}Mapper extends BaseMapperX<${ClassName}, ${ClassName}VO> {
#if($table.sub)

    /**
     * 批量删除${subTable.functionName}
     * 
     * @param ${pkColumn.javaField}s 需要删除的数据主键集合
     * @return 结果
     */
    int delete${subClassName}By${subTableFkClassName}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * 批量新增${subTable.functionName}
     * 
     * @param ${subclassName}List ${subTable.functionName}列表
     * @return 结果
     */
    int batch${subClassName}(List<${subClassName}> ${subclassName}List);

    /**
     * 通过${functionName}主键删除${subTable.functionName}信息
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    int delete${subClassName}By${subTableFkClassName}(${pkColumn.javaType} ${pkColumn.javaField});
#end

    default IPage<${ClassName}VO> selectPage(Page<${ClassName}> page, ${ClassName}Query query) {
        return selectVoPage(page, buildWrapper(query));
    }

    default List<${ClassName}> selectList(${ClassName}Query query) {
        return selectList(buildWrapper(query));
    }

    default Wrapper<${ClassName}> buildWrapper(${ClassName}Query query) {
        Wrapper<${ClassName}> wrapper = Wrappers.<${ClassName}>lambdaQuery();
#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && $column.query)
    #if($column.queryType == "EQ")
        wrapper.eq(StringUtils.#if($column.javaType == 'String')isNotBlank#else isNotNull#end(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}());
    #elseif($column.queryType == "NE")
        wrapper.ne(StringUtils.#if($column.javaType == 'String')isNotBlank#else isNotNull#end(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}());
    #elseif($column.queryType == "GT")
        wrapper.gt(StringUtils.#if($column.javaType == 'String')isNotBlank#else isNotNull#end(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}());
    #elseif($column.queryType == "LT")
        wrapper.lt(StringUtils.#if($column.javaType == 'String')isNotBlank#else isNotNull#end(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}());
    #elseif($column.queryType == "LIKE")
        wrapper.like(StringUtils.#if($column.javaType == 'String')isNotBlank#else isNotNull#end(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}());
    #elseif($column.queryType == "BETWEEN")
        wrapper.between(!query.getParams().isEmpty(), ${ClassName}::getCreateTime, query.getParams().get("beginTime"), query.getParams().get("endTime"));
    #end
#end
#end
        return wrapper;
    }

}
