package ${packageName}.domain.query.${businessName};

import lombok.Data;

/**
 * ${functionName}查询对象
 *
 * @author ${author}
 */
@Data
public class ${ClassName}Query {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && $column.query)
    /** ${column.columnComment} */
    private ${column.javaType} ${column.javaField};

#end
#end
}
